*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0px;
}
.yml{
    width: 1416px;
    height: 434px;
    display: flex;
    margin-top: 80px;
    margin-left: 92px;
    justify-content: space-between;
}
